{% extends 'base.html' %}

{% load static %}

{% block title %}
Gargouri Web Site || Comming soon
{% endblock title %}

{% block content %}
  <main>
    <div class="container">

      <!--Section: More-->
      <section>

        <h1 class="my-5 h1 text-center"><strong>Comming Soon...</strong></h1>
        <h3 class="my-5 h3 text-center">This page will be ready soon,<br>
            please take your time on visiting my other pages.</h3>

      </section>
      <!--Section: More-->

    </div>
  </main>
{% endblock content %}