{% load static %}

<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="{% static 'doc/firas_gargouri_cv.pdf' %}" target="_blank"
        role="button">Download My CV
        <i class="fas fa-download ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/firassios" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://www.linkedin.com/in/firas-gargouri" target="_blank">
        <i class="fab fa-linkedin-in mr-3"></i>
      </a>

      <a href="https://www.instagram.com/firasgar" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a>

      <a href="https://github.com/fireas" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="https://wasap.my/21697635853/" target="_blank">
        <i class="fab fa-whatsapp mr-3"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright:
      Firas Gargouri
    </div>
    <!--/.Copyright-->

  </footer>